<div class="container">
    <a href="javascript:void(0)" class="float-left">
        <img src="/statics/img/logo.png" class="logo" alt="싸인오케이 로고">
    </a>
    <nav class="nav">
        <ul class="menu-wrap nav-wrap">
            <li class="menu__item nav__item"><a href="javascript:void(0)">서비스소개</a></li>
            <li class="menu__item nav__item" ><a href="javascript:void(0)">가격안내</a></li>
            <li class="menu__item nav__item"><a href="javascript:void(0)">체험및도입</a></li>
        </ul>
    </nav>
    <a href="javascript:void(0)" class="float-right button is-primary">로그인</a>
    <a href="/template/main/main-picture.html" class="">메인실사가는거</a>
</div>