<div class="container">
    <div class="nav-top">
        <a href="/index.html" class="logo-wrap float-left">
            <img src="/statics/img/logo.png" class="logo" alt="싸인오케이 로고">
        </a>
        <button type="button" id="toggle-nav" onclick="toggleNav()"> 
            <img src="/statics/img/menu-line.png" alt="메뉴 토글" class="">
        </button>
    </div>
    <div class="nav-middle">
        <nav class="nav">
            <ul class="menu-wrap nav-wrap">
                <li class="menu__item nav__item"><a href="/feature.html">서비스소개</a></li>
                <li class="menu__item nav__item"><a href="/api.html">API</a></li>
                <li class="menu__item nav__item" ><a href="/price.html">가격안내</a></li>
                <li class="menu__item nav__item"><a href="/practice.html">체험및도입</a></li>
                
                <li class="menu__item nav__item"><a href="/template/main/main-picture.html">메인시안2(실사)</a></li>
            </ul>
        </nav>
        <div class="button-wrap float-right">
            <a href="https://stg-doc.signok.com/user/login.sg" class="button ">로그인</a>
            <a href="https://stg-doc.signok.com/user/joinUs/joinUs.sg" class="button is-primary">무료 시작하기</a>
        </div>
    </div>
   
</div>

<script>
    function toggleNav(){
        $('.nav-middle').slideToggle()
    }
</script>