<nav class="nav">
    <div class="container">
        <a href="javascript:void(0)" class="">
            <img src="" class="logo" alt="싸인오케이 로고">
        </a>
        <ul class="menu-wrap">
            <li class="menu__item"><a href="javascript:void(0)">서비스소개</a></li>
            <li class="menu__item"><a href="javascript:void(0)">서비스소개</a></li>
            <li class="menu__item"><a href="javascript:void(0)">서비스소개</a></li>
        </ul>
        <a href="javascript:void(0)" class="">로그인</a>
    </div>
</nav>