<div class="footer__top">
    <div class="container">
        <div class="text-wrap">
            <p class="is-heading-3 text-align-center">전자계약의 시작은 싸인오케이로!</p>
            <p class="is-body-large is-medium text-align-center">
                회원가입 후, 무료로 경험해보세요.
            </p>
        </div>     
        <div class="button-wrap">
            <button type="button" class="buttoni is-primary">무료 시작하기</button>
            <button type="button" class="buttoni is-primary">도입문의</button>
        </div>
    </div>
</div>
<div class="footer__bottom">
    <div class="container">
        <div class="fnb-area">
            <ul class="clearfix">
                <li><a href="https://stg-support.signok.com/main.sg">고객센터</a></li>
                <li><a href="javascript:void(0);">블로그</a></li>
                <li><a href="javascript:void(0);">개발자센터</a></li>
            </ul>
        </div>
        <div class="content-wrap">
            <div class="list-wrap">
                <p class="list__item">한국정보인증(주)</p>
                <p class="list__item">대표이사 : 김상준</p>
                <p class="list__item">사업자번호 : 110-81-41568</p>    
            </div>
            <p class="">통신판매신고 : 제2008-서울마포-0499호</p>
            <p class="">주소 : (우)13487 경기도 성남시 분당구 판교로 242, C동 5층(삼평동, 판교디지털센터)</p>
            <div class="list-wrap">
                <p class="list__item">전화 : 1566-7797</p>
                <p class="list__item">메일 : webmaster@signok.com</p>
                <p class="list__item">팩스 : 02-360-3001</p>    
            </div>
        </div>
        <div class="content-wrap footer__href-wrap">
            <ul class="menu-wrap float-left width-50">
                <li class="menu__item"><a href="javascript:void(0)" class="emp">개인정보처리방침</a></li>
                <li class="menu__item"><a href="javascript:void(0)">이용약관</a></li>
                <li class="menu__item"><a href="javascript:void(0)">윤리경영</a></li>
                <li class="menu__item"><a href="javascript:void(0)">인증업무준칙</a></li>
            </ul>
            <!-- <div class="list-box-wrap">
                <div class="list-box">
                    <p class="">관계사 바로가기</p>
                    <img src="" alt="더보기">
                </div>
                <ul class="menu-wrap is-column">
                    <li class="menu__item"><a href="javascript:void(0)">관계사1</a></li>
                    <li class="menu__item"><a href="javascript:void(0)">관계사2</a></li>
                    <li class="menu__item"><a href="javascript:void(0)">관계사3</a></li>
                </ul>
            </div> -->
        </div>
    </div>
</div>