@import url(./reset.css);
@import url(./base.css);
@import url(./common.css);
@import url(./main.css);
@import url(./sub-main.css);

.design-image{
    display:block;
    width:100%;
}
.modal__background{
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    bottom:0;
    
    background: rgba(0, 0, 0, 0.16);
}
.modal{
    display: block;
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.16);
}
@media all and (max-width:480px){
    .design-image{
        margin-top: 64px;
    }
}

