@import url(./reset.css);
@import url(./base.css);
@import url(./common.css);
@import url(./main.css);
@import url(./sub-main.css);

.design-image{
    display:block;
    width:100%;
}

@media all and (max-width:480px){
    .design-image{
        margin-top: 64px;
    }
}

