@charset "utf-8";

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family:"pretendard";
    height: 100%;
}

body {
    
    color: #333;
    /* letter-spacing: -2px; */
    line-height: 1.43;
}

input[type="radio"],  
input[type="checkbox"]{

}

a {
    text-decoration: none;
    color: inherit;
    display:block;
}