@charset "UTF-8";

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 32px 0;
}

/* clearfix / float / left, right */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

/* width */
.width-50 {
    width: 50%;
}
.width-100 {
    width: 100%;
}

/* align */
.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}



/* heading */
.is-heading-1{
    font-size:64px;
    line-height:1.4;
    font-weight: 700;
}
.is-heading-2{
    font-size:50px;
    line-height:1.4;
    font-weight: 700;
}
.is-heading-3{
    font-size:36px;
    line-height:1.4;
    font-weight: 700;
}
.is-heading-4{
    font-size:32px;
    line-height:1.4;
    font-weight: 700;
}
.is-heading-5{
    font-size:28px;
    line-height:1.4;
    font-weight: 700;
}


@media all and (max-width:480px){
    .is-heading-1{
        font-size:44px;
    }
    .is-heading-2{
        font-size:32px;
    }
    .is-heading-3{
        font-size:28px;
    }
    .is-heading-4{
        font-size:24px;
    }
    .is-heading-5{
        font-size:20px;
    }
}


/* font-size */
.is-body-large{
    font-size:20px;
}

.is-primary{
    color:#EE3649;
}
.is-secondary{
    color:#0079E1;   
}


/* weight */
.is-medium{
    font-weight:500;
}
.is-semibold{
    font-weight:600;
}

/* button */
button{
    border:none;
    outline:none;
    background:none;
    font-family:"pretendard";
    cursor:pointer;
}
.button{
    font-weight: 500;
    padding:12px 24px;
    border-radius:16px;
    transition: .3s;
    font-size:16px;
    line-height:1.5;
    white-space: nowrap;
}
.button > img{
    padding-left:8px;
}
.button.is-primary{
    background:#ee3649;
    color:#fff;
}
.button.is-line{
    border:1px solid #c4c4c4
}
.button.is-secondary{
    background:#0079E1;
    color:#fff;
}
.button.is-secondary-line{
    border:1px solid #0079E1;
    color:#0079E1;
}
.button:hover{
    filter: brightness(1.1);
}
.button:active{
    filter: brightness(0.9);
    
}
.input{
    padding:12px 24px;
}

.input-form .input{
    margin-right:16px;
}


.menu-wrap{
    display:block;
}
.menu__item{
    display:inline-block;
    margin-right:8px;
    /* padding: 8px 16px; */

    cursor:pointer;
}
.menu__item:last-child{
    margin-right:0;
}

.menu__item:hover{
    background:#eee;
    transition:.3s;
}


.menu__item .circle{
    display:inline-block; 
    width:40px;
    height:40px;
    line-height:36px;

    border:1px solid #373737;

    text-align:center;

    border-radius:999px;

    margin-right:8px;
}
@media all and (max-width:480px){
    .menu__item .circle{
        width:32px;
        height:32px;
        line-height: 32px;
    }
}
/* footer */
.footer__top{
    width:100%;
    height:480px;
    padding:146px 0;
    background:url('/statics/img/footer_top.png') no-repeat;
    background-size: cover;;
}
.footer__top .text-wrap{
    margin-bottom: 48px;
}
.footer__top p {
    color:#fff;
}
.footer__top .text-wrap .is-heading-3{
    font-weight:600;
    margin-bottom: 8px;
}
.footer__top .input-wrap{
    display:inline-block;
    margin-bottom:16px;
}
.footer__top .input-form{
    margin: 0 auto;
    width:576px;
    
}
.footer__top .input{
    border:0;
    height:48px;
    line-height:48px;
    width:400px;
    border-radius:16px;
    background:#fff;
    padding: 0 16px;
    margin-bottom:8px;
}
.footer__top .input-form .button{
    height: 48px;
}
.footer__top label{
    color:#fff;
}

.footer__top .button-wrap {
    text-align: center;
}
.footer__top .button-wrap .button {
    min-width: 200px;
    border-radius: 16px;
}
.footer__top .button-wrap .button.is-primary {
    background-color: #ee3649;
    color: #fff;
    margin-right: 16px;
}
.footer__top .button-wrap .button.is-border {
    color: #ee3649;
    border: 1px solid #ee3649;
}

.footer__bottom{
    padding:80px 0;
    background:#373737;
}
.footer__bottom p{
    color:#959595;
    font-size:14px;
}
.footer__bottom .menu__item{
    color:#c4c4c4;
}
.footer__bottom .menu__item a.emp {
    color: #fff;
}
.footer__href-wrap{
    padding:26px 0;
}
.footer__bottom .fnb-area {
    margin-bottom: 24px;
}
.footer__bottom .fnb-area ul li {
    float: left;
    margin-right: 16px;
}
.footer__bottom .fnb-area ul li a {
    color: #dcdcdc;
}
.footer__bottom .fnb-area ul li a:hover {
    color: #ee3649;
}

@media all and (max-width:480px){
    .footer__bottom{
        padding: 40px 0;
    }
    .footer__href-wrap{
        margin-top: 16px;
        padding: 0;
    }
    .container{
        padding: 0 16px;
    }
    .checkbox{
        width:20px;
        height:20px;
    }
    .footer__top{
        height:auto;
        padding:40px 0;
    }
    .footer__top .input-form {
        width: 100%;
    }
    .footer__top .input-wrap{
        width:100%;
    }
    .footer__top .input {
        width: 100%;
        height:40px;
        line-height:40px;
    }
    .footer__top .button{
        width:100%;
    }

    .footer__top .input-form .button{
        margin-top: 16px;
        height: 40px;
    }
    .footer__top .control-form .checkbox{
        display:inline-block
    }
    .footer__top .control-form label{
        display: unset;
        padding-left: 0;
    }
    .footer__bottom .menu__item{
        display: block;;
    }
}

.list__item{
    display: inline-block;
    margin-right:16px;
}
.list__item:last-child{
    margin-right:0;
}

/* header */
.header{
    position: fixed;
    width:100%;
    background: rgba(255, 255, 255, 0.32);
    top: 0;
    height:80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);

    z-index: 9;
    backdrop-filter: blur(12px);
}
.header .container{
    padding: 0;
    height: 100%;
    position: relative;

}
.header .logo-wrap{
    width:120px;
    height:80px;
    display:inline-block;

    position: relative;
}
.header .logo{
    width:auto;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.header .nav{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header .nav-wrap{
    display:inline-block;
    margin: 0 auto;
}
.header .nav__item{
    padding: 8px 0;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;

    margin-right: 16px;
    
}
.nav__item:hover{
    background: none;
    color: #EE3649;
}
.header .nav__item:last-child{
    margin-right: 0;
}

#toggle-nav{
    display:None;
}

.header .button-wrap{
    position: absolute;
    right:0;
    top: 50%;
    transform: translateY(-50%);
}

@media all and (max-width:480px){
    .header{
        height:64px;
    }
    .header .container{
        padding: 0 16px;
    }
    .header .logo-wrap{
        height:64px;
    }
    .header .logo{
        width: unset;
    }
    .header .nav-middle{
        display:none;
        background: rgba(255,255,255,1);
        position: absolute;
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.16);
        left: 0;
        right: 0;
        padding: 16px;
    }
    #toggle-nav{
        display:block;
        float:right;
        height:64px;
        width:64px;
    }
    .nav-top{
        height:64px;
    }
    #toggle-nav img{
        width:20px;
    }
    .header .nav{
        position: unset;
        transform: unset;
    }
    .header .button-wrap{
        position: unset;
        transform: unset;

        border-top: 1px solid #eee;
        padding-top:16px;
    }
    .header .button-wrap{
        width:100%;
    }
    .header .button-wrap .button{
        display:block;
        width:100%;
    }
    .header .nav-wrap{
        display: block;
    }
    .header .nav__item{
        display: block;
        text-align: left;
        font-size: 18px;
        margin-right: 0;
    }
}

.button-wrap .button{
    display:inline-block;
    text-align: center;
}

@media all and (max-width:480px){
    .button-wrap .button{
        display:block;
        margin-bottom:8px;
    }
    .button-wrap .button:last-child{
        margin-bottom: 0;
    }
}

/* checkbox */
input[type="checkbox"],
input[type="radio"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
    outline: none;
    box-shadow: none;
}
.control-form{
    display:table
}
.control-form .checkbox,
.control-form label{
    display:table-cell;
    vertical-align: middle;;
}
.control-form label{
    padding-left:8px;
}
.checkbox{
    background: #fff;
    border: 1px solid #E0DDE9;
    border-radius: 99%;
    width: 24px;
    height: 24px;
}
.checkbox + label{
    height:24px;
}
.checkbox:checked{
    background:red;
}

.toggle-icon-box{
    position: relative;
    width: 32px;
    height: 32px;
}

.toggle-icon-box .icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.tab__item .icon.is-active{
   display: none;
}
.tab__item.is-active .icon.is-active{
    display: block;
 }