@charset "UTF-8";

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 32px 0;
}

/* clearfix / float / left, right */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

/* width */
.width-50 {
    width: 50%;
}
.width-100 {
    width: 100%;
}

/* align */
.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}



/* heading */
.is-heading-1{
    font-size:64px;
    line-height:1.4;
    font-weight: 700;
}
.is-heading-2{
    font-size:50px;
    line-height:1.4;
    font-weight: 700;
}
.is-heading-3{
    font-size:36px;
    line-height:1.4;
    font-weight: 700;
}
.is-heading-4{
    font-size:32px;
    line-height:1.4;
    font-weight: 700;
}
.is-heading-5{
    font-size:28px;
    line-height:1.4;
    font-weight: 700;
}


@media all and (max-width:480px){
    .is-heading-1{
        font-size:44px;
    }
    .is-heading-2{
        font-size:32px;
    }
    .is-heading-3{
        font-size:28px;
    }
    .is-heading-4{
        font-size:24px;
    }
    .is-heading-5{
        font-size:20px;
    }
}


/* font-size */
.is-body-large{
    font-size:20px;
}

.is-primary{
    color:#EE3649;
}
.is-secondary{
    color:#0079E1;   
}


/* weight */
.is-medium{
    font-weight:500;
}
.is-semibold{
    font-weight:600;
}

/* button */
.button{
    border:1px solid black;
    padding:8px 16px;
}
.button.is-submit{
    background:#E6F2FC;
    color:#54A5EB;
}

.input{
    padding:12px 24px;
}

.input-form .input{
    margin-right:16px;
}
.control-form .checkbox{
    margin-right:8px;
}

.menu-wrap{
    display:block;
}
.menu__item{
    display:inline-block;
    margin-right:8px;
    border:1px solid black;
    /* padding: 8px 16px; */

    cursor:pointer;
}
.menu__item:last-child{
    margin-right:0;
}

.menu__item:hover{
    background:#eee;
    transition:.3s;
}


.menu__item .circle{
    display:inline-block; 
    width:40px;
    height:40px;
    line-height:36px;

    border:1px solid black;

    text-align:center;

    border-radius:999px;

    margin-right:8px;
}

/* footer */
.footer .is-top{
    width:100%;
    height:480px;
    padding:146px 0;
    background:url('/statics/img/footer_top.png') no-repeat;
    background-size: cover;;
}

.footer p {
    color:#fff;
}

.footer .is-bottom{
    padding:80px 0;
    background:#666;
}


/* header */
.header .nav-wrap{
    display:inline-block;
    max-width:264px;
    margin: 0 auto;
}
.header .nav__item{
    padding: 8px 0;
    
}