@import url(./reset.css);
@import url(./base.css);
@import url(./common.css);

/* sub-main 공통 */
#sub-main-banner {
    padding: 80px 0;
}
#sub-main-banner .subPage-title-wrap {
    margin: 0 auto;
    text-align: center;
}
#sub-main-banner .subPage-title-wrap .main-image-wrap {
    text-align: center;
    margin: 2rem 0;
}
#sub-main-banner .subPage-title-wrap .main-image-wrap img {
    display: block;
    margin: 0 auto;
}
#sub-main-banner .button-wrap {
    text-align: center;
}

/* feature-section-2 */
#feature-section-02{
    padding:200px 0;
}
#feature-section-02 .title-wrap{
    margin-bottom:120px;
}
#feature-section-02 .image-wrap{
    background:#fff;
    width:575px;
    height:400px;
    border-radius:32px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.16);
    overflow:hidden;
    text-align:center;
}
#feature-section-02 .image-wrap img{
    width:100%;
}

/* feature-section-03 */
#feature-section-03 {
    padding: 64px 0;
}
#feature-section-03 .sub-title-wrap {
    position: static;
    top: none;
    transform: none;
}