.main-banner {
    text-align: center;
}
.main-banner img {
    display: block;
}
.main-banner p {
    color: #373737;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
}

.title-wrap.is-center p{
    text-align:center;
}
.main-title, .sub-title {
    font-weight: 700;
}
.title-wrap .main-title{
    font-size: 50px;
}
.title-wrap .sub-title {
    color: #ee3649;
    font-size: 28px;
    margin-bottom: 8px;
}

.content-wrap {
    position: relative;
}
.sub-title-wrap {
    padding: 0 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.sub-title-wrap.float-right {
    right: 0;
}
.sub-title-wrap .main-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
}
.main-title.margin-4rem{
    margin-bottom:64px;
}
.sub-title-wrap .sub-title {
    color: #0079e1;
    font-size: 20px;
    margin-bottom: 32px;
}
.sub-title-wrap .description {
    color: #666666;
    font-size: 20px;
}
.image-wrap {
    width: 600px;
    height: 400px;
}


/* process */
#main-process{
    padding:160px 0;
}
#main-process .title-wrap{
    margin-bottom:32px;
}
#main-process .has-background{
    padding: 8px 0;
}
#main-process .menu-wrap{
    margin:0 auto;
    display:block;
    max-width:692px;
}
#main-process .menu__item{
    padding:8px 16px;
    margin-right:0;
}
#main-process .text-box{
    width:480px;
    height:320px;
}

#section-02{
    height:464px;
}
.has-background{
    display:block;
    background:#fafafa;
    width:100%;
}

#device-preview{
    background-image:url('/statics/img/device.png');
    height:764px;
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;;
}
.preview-container{
    width:912px;
    height:682px;

    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position:absolute;
    overflow-hidden
}


/* slide */
.slide-container{
    display:inline-block;
    margin:0 auto;
}
.slide__item{
    display:none
}
.slide__item.is-active{
    display:block;
}

.slide-pagination__item{
    width:8px;
    height:8px;
    border-radius:50%;
}
.slide-pagination__item.is-active{
    background-color:red;
}

.is-primary{
    color:red;
}

.is-heading-5{
    font-size:28px;
    line-height:1.4;
}
.is-semibold{
    font-weight:700;
}


#section-04{
    padding:200px 0;
}
#section-04 .title-wrap{
    margin-bottom:120px;
}

.image-wrap{
    border-radius:32px;
    background:#fff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.16);
    overflow:hidden;
    text-align:center;
}
.l-grid-wrap .content-wrap{
    margin-bottom:160px;
}

.text-box{
    padding:40px;
    background:#FFFFFF;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.08);
}