@import url(./reset.css);
@import url(./base.css);
@import url(./common.css);

/* common & main-banner */
#main-banner .button-wrap{
    margin-top:64px;
}
#main-banner .button:first-child{
    margin-right:32px;
}

#main-banner .container{
    margin-top: 80px;
    padding:160px 0;

    position: relative;
}

#main-banner .image-wrap {
    width: unset;
    height: unset;
    border-radius: unset;
    box-shadow: unset;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
@media all and (max-width:480px){
    #main-banner .container{
        margin-top: 64px;
        padding:160px 0;
    }

    #main-banner .image-wrap {
        position:unset;
        transform: unset;;
    }
}


.title-wrap.is-center p{
    text-align:center;
}
.main-title, .sub-title {
    font-weight: 700;
}
.title-wrap .main-title{
    font-size: 50px;
}
.title-wrap .sub-title {
    color: #ee3649;
    font-size: 28px;
    margin-bottom: 8px;
}

.content-wrap {
    position: relative;
}
.sub-title-wrap {
    padding: 0 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.sub-title-wrap.float-right {
    right: 0;
}
.sub-title-wrap .main-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
}
.main-title.margin-4rem{
    margin-bottom:64px;
}
.sub-title-wrap .sub-title {
    color: #0079e1;
    font-size: 20px;
    margin-bottom: 32px;
}
.sub-title-wrap .description {
    color: #666666;
    font-size: 20px;
}
.image-wrap {
    width: 600px;
    height: 400px;
}
#main-banner .button {
    background-color: #ee3649;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
}
#main-banner .button.grey {
    background-color: #373737;
}
@media all and (max-width:768px) {
    .article {
        padding: 48px 0;
    }
    .is-heading-5 {
        font-size: 16px;
    }
    .title-wrap .main-title{
        font-size: 28px;
    }
    .title-wrap .sub-title {
        font-size: 16px;
    }
    .sub-title-wrap {
        padding: 0 8px;
    }
    .sub-title-wrap .main-title {
        font-size: 24px;
        margin-bottom: 16px;
    }
    .sub-title-wrap .sub-title {
        font-size: 16px;
        margin-bottom: 8px;
    }
    .sub-title-wrap .description {
        font-size: 16px;
    }
    .float-right,
    .float-left {
        float: none;
    }
    #main-banner .container {
        padding: 0 16px;
    }

}


/* process & section-02 */
#main-process{
    padding:160px 0;
}
#main-process .title-wrap{
    margin-bottom:32px;
}
#main-process .has-background{
    padding: 8px 0;
}
#main-process .menu-wrap{
    margin:0 auto;
    display:block;
    max-width:692px;
}
#main-process .menu__item{
    padding:8px 16px;
    margin-right:0;
}
#main-process .text-box{
    width:480px;
    height:320px;
}
#main-process .slick-arrow{
    display:none;
}

.has-background{
    display:block;
    background:#fafafa;
    width:100%;
}

#device-preview{
    background-image:url('/statics/img/device.png');
    height:764px;
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
    width: 100%;
}
.preview-container{
    width:912px;
    height:682px;

    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position:absolute;
    overflow:hidden;
}
.preview-container .slide__item img {
    width: 100%;
    display: block;
}
@media all and (max-width: 768px) {
    #main-process {
        padding: 48px 0;
    }
    #main-process .container {
        height: auto;
        padding: 32px 0;
    }
    #device-preview {
        height: auto;
    }
    #main-process .preview-container{
        width: 100%;
        height: auto;
        position: static;
        top: none;
        left: none;
        transform: none;
    }
    #main-process .text-box {
        width: 100%;
        height: auto;
        position: static !important;
        box-shadow: none;;
    }
    #main-process .text-box .sub-title-wrap {
        position: static;
        top: none;
        transform: none;
    }
}
    

/* slide */
.slide-container{
    display:inline-block;
    margin:0 auto;
}
.slide__item{
    display:none
}
.slide__item.is-active{
    display:block;
}

.slide-pagination__item{
    width:8px;
    height:8px;
    border-radius:50%;
}
.slide-pagination__item.is-active{
    background-color:red;
}

/* section 4 */
#section-04{
    padding:200px 0;
}
#section-04 .title-wrap{
    margin-bottom:120px;
}
#seciton-04 .image-wrap{
    background:#fff;
    width:575px;
    height:400px;
    border-radius:32px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.16);
    overflow:hidden;
    text-align:center;
}
#section-04 .image-wrap img{
    width:100%;
}
@media all and (max-width:768px) {
    #section-04 {
        padding: 48px 0;
    }
    #section-04 .container {
        padding: 0 16px;
    }
    #section-04 .content-wrap {
        margin-bottom: 64px;
    }
    #section-04 .title-wrap {
        margin-bottom: 32px;
    }
    #section-04 .image-wrap {
        width: 100%;
        height: auto;
        margin-bottom: 24px;
    }
    #section-04 .sub-title-wrap {
        position: static;
        top: none;
        transform: none;
    }
}

/* section 5 */
#section-05 {
    height:908px;
    background-size:cover;

    padding:80px 0;
}

#section-05 .content-wrap{
    padding: 0 32px;
    height:640px;
}

#section-05 .image-wrap{
    width:920px;
    height:640px;
}

#section-05 .is-heading-2{
    margin-bottom:80px;
}

@media all and (max-width: 768px){
    #section-05 {
        height: auto;
        padding: 48px 0 ;
    }
    #section-05 .content-wrap {
        padding: 0 16px;
    }
    #section-05 .image-wrap {
        width: 100%;
        height: auto;
        box-shadow: none;
    }
    #section-05 .is-heading-1 {
        font-size: 32px;
    }
    #section-05 .is-heading-2 {
        margin-bottom: 48px;
        font-size: 24px;
    }
    #section-05 .content-wrap .sub-title-wrap {
        padding: 0 8px;
        position: static;
        top: none;
        transform: none;
    }
    #section-05 .l-grid-wrap>div {
        width: 50%;
        float: left;
    }
    #section-05 .l-grid-wrap .grid__item {
        float: left;
        width: 50%;
        margin-right: 0;
        margin-bottom: 24px;
    }
}

/* seciton 6 */
#main-logo-section .slick-arrow{
    display:none;
}
#main-logo-section{
    padding:200px 0;
}

#main-logo-section .logo-wrap{
    margin-top:64px;
}
.logo__item{
    display:Inline-block;
    margin-right:56px;
    width:224px;
}
.logo__item img{
    width:100%
}
.logo__item:last-child{
    margin-right:0;
}

@media all and (max-width:768px){
    #main-logo-section {
        padding: 48px 0;
    }
    .logo__item{
        width:33.33333333333333%;
        margin-right:0;
        text-align: center;
    }
    .logo__item img{
        width: 100%;
    }
}

/* section 7 */
#main-customer-review{
    padding:160px 0;
}

#main-customer-review .company-01{
    background: url('/statics/img/partner_company/01.png') center center;
    background-size: cover;;
}
#main-customer-review .company-02{
    background: url('/statics/img/partner_company/02.png') center center;
    background-size: cover;;
}
#main-customer-review .company-03{
    background: url('/statics/img/partner_company/03.png') center center;
    background-size: cover;;
}
#main-customer-review .company-04{
    background: url('/statics/img/partner_company/04.png') center center;
    background-size: cover;;
}
#main-customer-review .company-05{
    background: url('/statics/img/partner_company/05.png') center center;
    background-size: cover;;
}

.card{
    border-radius:32px;
    overflow:hidden;
}

.card__item{
    display:inline-block;
}


#main-customer-review .card__item{
   margin-right:120px;
}


#main-customer-review .card__item:nth-child(2n){
    margin-top: 160px;
 }

#main-customer-review .card{
    margin-top:8px;
    position: relative;
    width:400px;
    height:540px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.16);    
}

#main-customer-review .card::before{
    content:'';
    position: absolute;
    left:0;
    bottom:0;
    height:0;
    width:100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); 
    transform-origin: bottom;
    transition: height .25s linear;
}

#main-customer-review .card:hover::before{
    height:640px;
    transform-origin: bottom;
    transition: height .25s linear;
}
#main-customer-review .card .text-wrap{
    display:none;
}
#main-customer-review .card:hover .text-wrap{
    display:block;
    position: absolute;
    bottom:0;
    padding:32px 44px;
}
#main-customer-review .text-wrap p{
    color:#fff;
}



@media all and (max-width:768px){
    .container{
        padding:0 16px;
    }
    #main-customer-review {
        padding: 48px 0;
    }
    #main-customer-review .image-wrap{
        width:100%;
        height:auto;
        margin-right:0;
    }
    #main-customer-review .card__item:nth-child(2n){
        transform: none;
     }
     #main-customer-review .card-wrap {
        margin-top: 32px;
     }
}

.image-wrap{
    border-radius:32px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.16);
    overflow:hidden;
    text-align:center;
}

.image-wrap img{
    width:100%;
}

/* layout */
.l-grid-wrap .grid__item{
    display:inline-block;
    min-width:160px;
    margin-right:120px;
}
.l-grid-wrap .grid__item:last-of-type{
    margin-right:0;
}
.l-grid-wrap .margin-2rem{
    margin-bottom:32px;
}
.l-grid-wrap .content-wrap{
    margin-bottom:160px;
}

.text-box{
    padding:40px;
    background:#FFFFFF;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.08);
}

.slide-wrap.is-active{
    display:block!important;
}
.slide-wrap{
    display:none!important;
}

.text-box .content-wrap{
    height:100%;
}
.text-box .sub-title-wrap{
    padding: 0;
}
.text-box .slide__item > *{
    margin-bottom: 16px;
}
.text-box .slide__item > *:last-child{
    margin-bottom: 0;
}

#main-process .text-box{
    position: absolute;
    right: 0;
    bottom: -40px;
}

.text-align-center{
    text-align:center;
}

.slick-list{
    overflow: unset;
    overflow-x: hidden;
    overflow-y: unset;
}