.main-banner {
    text-align: center;
}
.main-banner img {
    display: block;
}
.main-banner p {
    color: #373737;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
}

.title-wrap .main-title{
    font-size: 50px;
    font-weight: 700;
}
.title-wrap .sub-title {
    color: #ee3649;
    font-size: 28px;
    margin-bottom: 32px;
}
.title-wrap .main-title {
    
}
.content-wrap {
    position: relative;
}
.sub-title-wrap {
    padding: 0 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.sub-title-wrap.float-right {
    right: 0;
}
.sub-title-wrap .main-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
}
.sub-title-wrap .sub-title {
    color: #0079e1;
    font-size: 20px;
    margin-bottom: 32px;
}
.sub-title-wrap .description {
    color: #666666;
    font-size: 20px;
}
.image-wrap {
    width: 600px;
    height: 400px;
}