@import url(./reset.css);
@import url(./base.css);
@import url(./common.css);

/* main-banner */
.main-banner {
    text-align: center;
    margin-top: 80px;
}
.main-banner img {
    width: 100%;
    display: block;
}
.main-banner p {
    color: #373737;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
}

.title-wrap.is-center p{
    text-align:center;
}
.main-title, .sub-title {
    font-weight: 600;
}
.title-wrap .main-title{
    font-size: 50px;
}
.title-wrap .sub-title {
    color: #ee3649;
    font-size: 28px;
    margin-bottom: 8px;
}

.content-wrap {
    position: relative;
}
.sub-title-wrap {
    padding: 0 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.sub-title-wrap.float-right {
    right: 0;
}
.sub-title-wrap .main-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 32px;
}
.main-title.margin-4rem{
    margin-bottom:64px;
}
.sub-title-wrap .sub-title {
    color: #0079e1;
    font-size: 20px;
    margin-bottom: 32px;
}
.sub-title-wrap .description {
    color: #666666;
    font-size: 20px;
}
.main-banner .main-text-area {
    position: relative;
    margin-bottom: 80px;
}
.main-banner .main-text-area .main-text {
    font-weight: 800;
    font-size: 80px;
    position: absolute;
    left: 64px;
    top: 32px;
    margin-top: 0;
}
.main-banner .main-text-area img {
    display: block;
    width: 350px;
    position: absolute;
    right: 64px;
    top: 135px;
}

/* common & main-banner */
@media all and (max-width:768px) {
    .article {
        padding: 48px 0;
    }
    .is-heading-5 {
        font-size: 16px;
    }
    .title-wrap .main-title{
        font-size: 28px;
    }
    .title-wrap .sub-title {
        font-size: 16px;
    }
    .sub-title-wrap {
        padding: 0 8px;
    }
    .sub-title-wrap .main-title {
        font-size: 24px;
        margin-bottom: 16px;
    }
    .sub-title-wrap .sub-title {
        font-size: 16px;
        margin-bottom: 8px;
    }
    .sub-title-wrap .description {
        font-size: 16px;
    }
    .main-banner p {
        margin-top: 24px; 
    }
    .main-banner .main-text-area {
        margin-bottom: 30px;
    }
    .main-banner .main-text-area .main-text {
        font-size: 32px;
        left: 0px;
        top: -50px;
        margin-top: 0;
    }
    .main-banner .main-text-area img {
        width: 120px;
        right: 0px;
        top: -15px;
    }
}

/* section 2 */
#section-02{
    height:464px;
}
#section-02 .container .image-wrap img {
    height: 400px;
} 
@media all and (max-width:768px) {
    #section-02 {
        height: auto;
    }
    #section-02 .container .image-wrap {
        text-align: center;
    }
    #section-02 .container .image-wrap img {
        width: 160px;
        height: auto;
    }
    #section-02 .container .width-50 {
        width: 100%;
    }
    #section-02 .container .main-title {
        font-size: 20px;
        margin-bottom: 16px;
    }
    #section-02 .container .sub-title-wrap {
        position: static;
        top: auto;
        transform: none;
        text-align: center;
    }
    .float-right,
    .float-left {
        float: none;
    }
}

/* process & section-03 */
#main-process{
    padding:160px 0;
}
#main-process .title-wrap{
    margin-bottom:32px;
}
#main-process .has-background{
    padding: 8px 0;
}
#main-process .menu-wrap{
    margin:0 auto;
    display:block;
    max-width:692px;
}
#main-process .menu__item{
    padding:8px 16px;
    margin-right:0;
}
#main-process .text-box{
    width:480px;
    height:320px;
}
#main-process .slick-arrow{
    display:none;
}

.has-background{
    display:block;
    background:#fafafa;
    width:100%;
}

#device-preview{
    background-image:url('/statics/img/device.png');
    height:764px;
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
    width: 100%;
}
.preview-container{
    width:912px;
    height:682px;

    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position:absolute;
    overflow:hidden;
}
.preview-container .slide__item img {
    width: 100%;
    display: block;
}
@media all and (max-width: 768px) {
    #main-process {
        padding: 48px 0;
    }
    #main-process .container {
        height: auto;
        padding: 32px 0;
    }
    #device-preview {
        height: auto;
    }
    #main-process .preview-container{
        width: 100%;
        height: auto;
        position: static;
        top: none;
        left: none;
        transform: none;
    }
    #main-process .text-box {
        width: 100%;
        height: auto;
        position: static !important;
        box-shadow: none;;
    }
    #main-process .text-box .sub-title-wrap {
        position: static;
        top: none;
        transform: none;
    }
}
    

/* slide */
.slide-container{
    display:inline-block;
    margin:0 auto;
}
.slide__item{
    display:none
}
.slide__item.is-active{
    display:block;
}

.slide-pagination__item{
    width:8px;
    height:8px;
    border-radius:50%;
}
.slide-pagination__item.is-active{
    background-color:red;
}

/* section 4 */
#section-04{
    padding:200px 0;
}
#section-04 .title-wrap{
    margin-bottom:120px;
}
#seciton-04 .image-wrap{
    background:#fff;
    width:575px;
    height:400px;
    border-radius:32px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.16);
    overflow:hidden;
    text-align:center;
}
#section-04 .image-wrap img{
    width:100%;
}
@media all and (max-width:768px) {
    #section-04 {
        padding: 48px 0;
    }
    #section-04 .content-wrap {
        margin-bottom: 64px;
    }
    #section-04 .title-wrap {
        margin-bottom: 32px;
    }
    #section-04 .image-wrap {
        margin-bottom: 24px;
    }
    #section-04 .sub-title-wrap {
        position: static;
        top: none;
        transform: none;
    }
}

/* section 5 */
#section-05 {
    height:908px;
    background:url('/statics/img/section_05.png') center center no-repeat;
    background-size:cover;

    padding:80px 0;
}

#section-05 .container{
    padding:120px 0;
}

#section-05 .is-heading-2{
    margin-bottom:80px;
}

@media all and (max-width: 768px){
    #section-05 {
        height: auto;
        padding: 48px 0 ;
    }
    #section-05 .container {
        padding: 0 16px;
    }
    #section-05 .is-heading-1 {
        font-size: 32px;
    }
    #section-05 .is-heading-2 {
        margin-bottom: 48px;
        font-size: 24px;
    }
    #section-05 .l-grid-wrap .content-wrap .float-left {
        float: left;
        width: 50%;
        margin-right: 0;
    }
}
/* seciton 6 */
#main-logo-section .slick-arrow{
    display:none;
}
#main-logo-section .logo-wrap{
    height:96px;
}
.logo__item{
    display:Inline-block;
    border-radius:16px;
    float: left;
    margin-right:56px;
    text-align:center;
    vertical-align: middle;
}
.logo__item img{
    width:224px;
}
.logo__item:last-child{
    margin-right:0;
}

@media all and (max-width:768px){
    .logo__item{
        width:auto;
        margin-right:0;
    }
    .logo__item img{
        width:200px;
    }
}

/* section 7 */
#main-customer-review{
    padding:200px 0;
}

#main-customer-review .image-wrap{
    width:560px;
    height:640px;
    margin-right:80px;
}

#main-customer-review .text-wrap{
    height:640px;
    vertical-align: middle;
    display: table-cell;
}
#main-customer-review .slide__item{
    width:1200px;
}
#main-customer-review .slick-slide img {
    width: 100%;
}

.company-title{
    font-size:32px;
    line-height:1.4;
    font-weight:700;
    color:#ee3649;

    margin-bottom:80px;
}

.company-desc{
    margin-bottom:80px;
}
.company-remark{
    color:#959595;
    font-size:20px;
    line-height:1.4;
    font-weight:500;
    margin-left:16px;
}
#main-customer-review .button {
    padding: 12px 0;
    border: none;
    font-weight: 500;
}
#main-customer-review .slick-dots li {
    margin: 0 2px;
}
#main-customer-review .slick-dots li.slick-active button:before {
    color: #ee3649;
}

@media all and (max-width:768px){
    .container{
        padding:0 16px;
    }
    #main-customer-review {
        padding: 64px 0;
    }
    #main-customer-review .image-wrap{
        width:100%;
        height:auto;
        margin-right:0;
    }
    #main-customer-review .slide-wrap {
        position: relative;
    }
    #main-customer-review .slide-wrap .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: none;
    }
    #main-customer-review .content-wrap {
        position: relative;
    }
    #main-customer-review .content-wrap .text-wrap {
        position: absolute;
        bottom: 0px;
        left: 0;
        height: auto;
        background: rgba(0,0,0,0.7);
        width: 100%;
        padding: 16px;
    }
    #main-customer-review .content-wrap .text-wrap .company-title {
        font-size: 18px;
        margin-bottom: 18px;
    }
    #main-customer-review .content-wrap .text-wrap .company-title .company-remark {
        font-size: 16px;
    }
    #main-customer-review .content-wrap .text-wrap .company-desc {
        font-size: 18px;
        margin-bottom: 18px;
        color: #ddd ;
        font-weight: 400;
    }
    #main-customer-review .content-wrap .text-wrap .button {
        color: #fff;    
    }
}

/* layout */
.l-grid-wrap .grid__item{
    min-width:160px;
    margin-right:120px;
}
.l-grid-wrap .grid__item:last-of-type{
    margin-right:0;
}
.l-grid-wrap .content-wrap.margin-2rem{
    margin-bottom:32px;
}
.l-grid-wrap .content-wrap{
    margin-bottom:160px;
}

@media all and (max-width: 480px) {
    .l-grid-wrap .content-wrap .image-wrap,
    .l-grid-wrap .content-wrap .sub-title-wrap {
        width: 100%;
        height: auto;
        float: none;
    }
    .l-grid-wrap .content-wrap .image-wrap img {
        width: 100%;
        display: block;
    }
    .l-grid-wrap .content-wrap .sub-title-wrap {
        position: static;
        top: auto;
        transform: none;
        right: auto;
    }
}

.text-box{
    padding:40px;
    background:#FFFFFF;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.08);
}

.slide-wrap.is-active{
    display:block!important;
}
.slide-wrap{
    display:none!important;
}

.text-box .content-wrap{
    height:100%;
}
.text-box .sub-title-wrap{
    padding: 0;
}
.text-box .slide__item > *{
    margin-bottom: 16px;
}
.text-box .slide__item > *:last-child{
    margin-bottom: 0;
}

#main-process .text-box{
    position: absolute;
    right: 0;
    bottom: -40px;
}

.text-align-center{
    text-align:center;
}