<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>싸인오케이 | 메인 2</title>
        
        <script src="/statics/lib/jquery-3.6.1.min.js"></script>

        <!-- jquery ui -->
        <script src="/statics/lib/jquery-ui/jquery-ui.min.js"></script>
        
        <!-- slick -->
        <link rel="stylesheet" type="text/css" href="/statics/lib/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="/statics/lib/slick/slick-theme.css"/>
        <script src="/statics/lib/slick/slick.min.js"></script>
        
        <link rel="stylesheet" href="/statics/css/main2.css">
        <script src="/statics/js/common.js"></script>
        <script src="/statics/js/main2.js"></script>

    </head>
<body>
    <header class="header"></header>
    
    <main class="main">
            <article class="article has-background" id="main-banner">
                <div class="container">
                    <div class="text-button-wrap ">
                        <div class="text-wrap text-align-left">
                            <p class="is-heading-1">누구나 쉬운,<br>
                                전자계약 싸인오케이</p>
                            <p class="is-remark is-heading-5">싸인오케이로 계약업무의 혁신을 시작해보세요.</p>
                        </div>
                        <div class="button-wrap">
                            <a href="/practice.html" class="button">무료 체험하기</a>
                            <a href="javascript:void(0)" class="button grey">도입 체험하기</a>
                        </div>
                    </div>
                    <div class="image-wrap">
                        <img src="/statics/img/section_01-2.png" alt="main banner" class="">
                    </div>
                </div>
            </article>
            
            <article id="main-process" class="article" >
                <div class="container">
                    <div class="title-wrap is-center">
                        <p class="sub-title">쉬운 프로세스</p>
                        <p class="main-title">빠르고 안전한 전자계약,<br>싸인오케이로 시작하세요.</p>
                    </div>
                </div>
                <div class="has-background">
                    <ul class="menu-wrap">
                        <li class="menu__item" data-idx="1" onclick="toggleTabButton('upload')">
                            <span class="circle">1</span>
                                계약서 업로드
                        </li>
                        <li class="menu__item" data-idx="2" onclick="toggleTabButton('annotation')">
                            <span class="circle">2</span>
                            서명 영역 지정
                        </li>
                        <li class="menu__item" data-idx="3" onclick="toggleTabButton('signature')">
                            <span class="circle">3</span>
                            계약서 서명
                        </li>
                        <li class="menu__item" data-idx="4" onclick="toggleTabButton('complete')">
                            <span class="circle">4</span>
                            교부 후 완료
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <div class="" id="device-preview">
                        <div class="preview-container">
                            <ul class="slide-wrap tab-container__item is-active" data-tab="upload">
                                <li class="slide__item is-active">
                                    <img src="/statics/img/section_03/01/01.png" alt="" class="">
                                </li>
                                <li class="slide__item">
                                    <img src="/statics/img/section_03/01/02.png" alt="" class="">
                                </li>
                                <li class="slide__item">
                                    <img src="/statics/img/section_03/01/03.png" alt="" class="">
                                </li>
                                <li class="slide__item">
                                    <img src="/statics/img/section_03/01/04.png" alt="" class="">
                                </li>
                            </ul>
                            <ul class="slide-wrap tab-container__item" data-tab="annotation">
                                <li class="slide__item is-active">
                                    <img src="/statics/img/section_03/02/01.png" alt="" class="">
                                </li>
                                <li class="slide__item">
                                    <img src="/statics/img/section_03/02/02.png" alt="" class="">
                                </li>
                                <li class="slide__item">
                                    <img src="/statics/img/section_03/02/03.png" alt="" class="">
                                </li>
                                <li class="slide__item">
                                    <img src="/statics/img/section_03/02/04.png" alt="" class="">
                                </li>
                            </ul>
                            <ul class="slide-wrap tab-container__item" data-tab="signature">
                                <li class="slide__item is-active">
                                    <img src="/statics/img/section_03/03/01.png" alt="" class="">
                                </li>    
                                <li class="slide__item is-active">
                                    <img src="/statics/img/section_03/03/01.png" alt="" class="">
                                </li>  
                                <li class="slide__item is-active">
                                    <img src="/statics/img/section_03/03/01.png" alt="" class="">
                                </li>  
                                <li class="slide__item is-active">
                                    <img src="/statics/img/section_03/03/01.png" alt="" class="">
                                </li>                              
                            </ul>
                            <ul class="slide-wrap tab-container__item" data-tab="complete">
                                <li class="slide__item is-active">
                                    <img src="/statics/img/section_03/04/01.png" alt="" class="">
                                </li>
                                <li class="slide__item is-active">
                                    <img src="/statics/img/section_03/04/01.png" alt="" class="">
                                </li>
                                <li class="slide__item is-active">
                                    <img src="/statics/img/section_03/04/01.png" alt="" class="">
                                </li>
                                <li class="slide__item is-active">
                                    <img src="/statics/img/section_03/04/01.png" alt="" class="">
                                </li>
                            </ul>
                        </div>
                        <div class="text-box">
                            <div class="content-wrap">                        
                                <ul class="sub-title-wrap ">
                                    <li class="tab-container__item slide__item is-active " data-tab="upload">
                                        <img src="/statics/img/section_03/upload-line.png" alt="icon">
                                        <p class="is-heading-5">계약서 업로드</p>
                                        <p class="">계약서 파일 업로드 한 번으로 계약은 시작됩니다. 문서의 형식은 PDF, 한글, Word, Excel, 이미지 등 어떤 문서도 가능합니다.</p>
                                    </li>                            
                                    <li class="slide__item tab-container__item" data-tab="annotation">          
                                        <img src="/statics/img/section_03/selection-fill.png" alt="icon">                    
                                        <p class="is-heading-5">서명 영역 지정</p>
                                        <p class="">
                                            서명 대상자가 서명을 입력해야 서명 영역을 지정해 준 후 카카오톡 또는 이메일로 지정하여 발송하여 언제 어디서든 서명이 가능합니다.
                                        </p>
                                    </li>                            
                                    <li class="slide__item tab-container__item" data-tab="signature">                              
                                        <img src="/statics/img/section_03/edit-line.png" alt="icon">
                                        <p class="is-heading-5">계약서 서명</p>
                                        <p class="">
                                            서명 대상자는 싸인오케이에서 손쉽게 서명/도장을 만들고 언제든 불러와 전달받은 계약서 확인 후 전자 서명을 해 계약을 진행할 수 있습니다.
                                        </p>                               
                                    </li>
                                    <li class="slide__item tab-container__item" data-tab="complete">
                                       
                                        <img src="/statics/img/section_03/document-line.png" alt="icon">
                                        <p class="is-heading-5">교부 후 완료</p>
                                        <p class="">
                                            모든 서명 대상자가 서명을 완료하게 되면 계약은 즉시 체결되고 문서는 교부됩니다. 안심하세요! 싸인오케이를 통한 전자계약은 ISMS 인증을 받아 믿을 수 있습니다.
                                        </p>
                                       
                                    </li>
                                </ul>                                               
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article id="section-04" class="article has-background">
                <div class="container">
                    <div class="title-wrap text-align-left">
                        <p class="sub-title">전자계약을 위한 기능</p>
                        <p class="main-title">더 좋은 계약을 위해<br>확인해보세요</p>
                    </div>
                    <div class="l-grid-wrap">
                        <div class="content-wrap clearfix">
                            <div class="image-wrap float-left">
                                <img src="/statics/img/section_04-2/01.png"
                                class="" alt="">
                            </div>
                            <div class="sub-title-wrap float-right">
                                <p class="sub-title">비대면계약</p>
                                <p class="main-title">
                                    이메일, 카카오톡으로<br>
                                    쉽고 빠르게 계약 체결!
                                </p>
                                <p class="">추천문서 : 서명이 필요한 모든 문서</p>
                            </div>
                        </div>
                        <div class="content-wrap clearfix">
                            <div class="image-wrap float-right">
                                <img src="/statics/img/section_04-2/04.png"
                                class="" alt="">
                            </div>
                            <div class="sub-title-wrap float-left">
                                <p class="sub-title">대면계약</p>
                                <p class="main-title">
                                    하나의 기기를 통해 서명대상자와<br>
                                    직접만나 바로 계약 체결!
                                </p>
                                <p class="">추천문서 : 근로/연봉계약서, 주주총회동의서, 헬스장 회원계약서 등</p>
                            </div>
                        </div>
                        <div class="content-wrap clearfix">
                            <div class="image-wrap float-left">
                                <img src="/statics/img/section_04-2/02.png"
                                class="" alt="">
                            </div>
                            <div class="sub-title-wrap float-right">
                                <p class="sub-title">대량발송</p>
                                <p class="main-title">
                                    여러 번 보낼 필요없이<br>
                                    수백건의 계약서도 한번에 체결!
                                </p>
                                <p class="">추천문서 : 근로계약, 연봉계약, 동의서 등</p>
                            </div>
                        </div>
                        <div class="content-wrap clearfix">
                            <div class="image-wrap float-right">
                                <img src="/statics/img/section_04-2/03.png"
                                class="" alt="">
                            </div>
                            <div class="sub-title-wrap float-left">
                                <p class="sub-title">링크서명</p>
                                <p class="main-title">
                                    불특정 다수의 서명이 필요하다면,<br>
                                    QR/ URL로 한번에 체결!
                                </p>
                                <p class="">추천문서 : 아파트 입주민동의서, 캠페인 참여요청서, 이벤트 개인정보수집동의서 등</p>
                            </div>
                        </div>
                        <div class="content-wrap clearfix">
                            <div class="image-wrap float-left">
                                <img src="/statics/img/section_04-2/05.png"
                                class="" alt="">
                            </div>
                            <div class="sub-title-wrap float-right">
                                <p class="sub-title">API 제공</p>
                                <p class="main-title">
                                    싸인오케이를 연동하여<br>
                                    자사 시스템내에서 계약 체결!
                                </p>
                                <p class="description">연동가능 사이트 : 자사 홈페이지, 그룹웨어, ERP, CRM, 플랫폼, 앱 등</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- 그래프있는 -->
            <article class="article" id="section-05">
                <div class="content-wrap">
                    <div class="image-wrap float-left">
                        <img src="/statics/img/section_05-2.png" alt="한국정보인증">
                    </div>
                    <div class="float-right sub-title-wrap">
                        <p class="is-heading-2">
                            싸인오케이는 전자서명에 가장 자신있는<br>
                            <span class="is-secondary">한국정보인증</span>이 만든 안전한 서비스입니다.
                        </p>
                        <div class="l-grid-wrap clearfix">
                            <div class="margin-2rem clearfix">
                                <div class="grid__item">
                                    <p class="">전자서명 시장점유율</p>
                                    <p class="is-heading-1">1위</p>
                                </div>
                                <div class="grid__item">
                                    <p class="">공동인증서 고객 수</p>
                                    <p class="is-heading-1">460만 +</p>
                                </div>
                            </div>
                            <div class="margin-2rem clearfix">
                                <div class="grid__item float-left">
                                    <p class="">신용등급</p>
                                    <p class="is-heading-1">AA</p>
                                </div>
                                <div class="grid__item">
                                    <p class="">전자서명인증사업자 & 본인확인기관</p>
                                    <p class="is-heading-1">국내 유일</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- 100대 기업 -->
            <article class="article" id="main-logo-section">
                <div class="container">
                    <p class="is-heading-1 text-align-center">
                        싸인오케이는<br>
                        국내 100대 기업과 함께합니다.
                    </p>
                    <ul class="logo-wrap">
                    </ul>
                </div>
                <!-- logo wrap -->
            </article>
            <!-- 고객후기 -->
            <article class="article has-background" id="main-customer-review">
                <div class="container">
                    <div class="title-wrap">
                        <p class="sub-title text-align-center">함께한 고객의 소리</p>
                        <p class="main-title text-align-center">서명이 필요한 모든곳에 함께합니다.</p>
                    </div>
                </div>
                
                <ul class="card-wrap">
                    <li class="card__item">                         
                        <p class="is-heading-5">노랑풍선</p>
                        <a href="javascript:void(0)"
                        class="card company-01" id="">
                            <div class="text-wrap">
                                <p class="company-title">노랑풍선</p>
                                <p class="company-desc">
                                    실제 업무 진행 시간이<br>
                                    정말 많이 단축되었어요!
                                </p>
                            </div>
                        </a>                       
                    </li>
                    <li class="card__item">
                        <p class="is-heading-5">여기스터디</p>
                        <a href="javascript:void(0)"
                        class="card company-02" id="">
                            <div class="text-wrap">
                                <p class="company-title">여기스터디</p>
                                <p class="company-desc">
                                    싸인오케이 덕분에 효율적으로<br>
                                    계약업무를 처리하고 있습니다!
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="card__item">
                        <p class="is-heading-5">한진</p>
                        <a href="javascript:void(0)" class="card company-03"
                        id="">
                            <div class="text-wrap">
                                <p class="company-title">한진</p>
                                <p class="company-desc">
                                    싸인오케이 덕분에 종이계약서의<br>
                                    번거로움이 사라졌어요!
                                </p>
                            </div>
                        </a>                            
                    </li>
                    <li class="card__item">
                        <p class="is-heading-5">이스트소프트</p>
                        <a href="javascript:void(0)" class="card company-04"
                        id="">
                            <div class="text-wrap">
                                <p class="company-title">이스트소프트</p>
                                <p class="company-desc">
                                    다양한 계약업무에<br>
                                    싸인오케이를 활용하고 있어요!
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="card__item">                            
                        <p class="is-heading-5">HDC영창</p>
                        <a href="javascript:void(0)" class="card company-05"
                        id="">
                            <div class="text-wrap">
                                <p class="company-title">HDC영창</p>
                                <p class="company-desc">
                                    근로계약을 싸인오케이로 하니까<br>
                                    정말 편리하더라구요!
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>                   
                
            </article>
    </main>
    <footer class="footer has-form"></footer>
    
</body>
<script>


</script>
</html>